canvas{
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
#filter{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 500px;
    height: 500px;
    display: none;
    justify-content: center;
    align-items: center;
}
button{
    color: white;
    font-size: xx-large;
    border-radius: 10px;
    background-color: dodgerblue;
    transition-duration: 0.4s;
}
button:hover{
    color: dodgerblue;
    font-size: xx-large;
    border-radius: 10px;
    background-color: white;
}